<nav class="">
    <ul>
         <%= link_to "Store Home", store_path %> 
        <% if current_user && current_user.current_cart %>
          <li> <%= link_to "Cart", cart_path(current_user.current_cart) %></li>
        <% end %>

        <% if user_signed_in? %>
          <%# <%= button_to "Log Out", {:controller => :sessions, :action => 'destroy', :id => @current_user.id }, :method => :delete %>
          <%= link_to("Sign out", destroy_user_session_path, :method => :delete) %>
        <%else %>
           <%= link_to("Sign up", new_user_registration_path) %>
           <%= link_to("sign in", new_user_session_path) %>
        <% end %>
    </ul>
</nav>